.navContainer {
  position: fixed;
  margin: 0;
  height: 100px;
  width: 100%;
  padding-top: 25px;
  /* padding: 0.7rem 2rem; */
  opacity: 0.9;
  top: 0;
  overflow: hidden;
  z-index: 1;
  background-color: #ffad60;
}

.cardsContainer {
  flex: 1 1 150px;
  margin-top: 123px;
  margin-bottom: 80px;
  width: 100%;
}
