.pagedContainer {
  margin-top: 10px;
  margin-bottom: 10px;
  display: inline-flex;
  justify-content: space-evenly;
  gap: 10px;
}

.btn {
  width: 28px;
  height: 35px;
  padding: 5px;
  border: 2px rgba(32, 31, 31, 0.555);
  border-radius: 30%;
  background: #96ceb4da;
  color: white;
}

.btn:hover {
  text-shadow: hsl(0, 0%, 100%) 0 -1px 4px, #ff0 0 -2px 10px,
    #ff8000 0 -10px 20px, rgb(218, 144, 144) 0 -18px 40px;
  cursor: pointer;
}
